/* Theme Styling */
:root {
    --lightblue: #00bcf2;
    --blue: #0072be;
    --stable-blue: #0076bf;
    --midblue: #00188f;
    --darkblue: #002050;
    --lightpurple: #b4a0ff;
    --purple: #5c2d91;
    --darkpurple: #373277;
    --lightmagenta: #e3008c;
    --magenta: #b4009e;
    --darkmagenta: #5c005c;
    --red: #e81123;
    --darkred: #a80000;
    --lightorange: #ff8c00;
    --orange: #d83b01;
    --insiders-green: #058f2d;
    --lightyellow: #fff100;
    --yellow: #ffcc00;
    --lightgreen: #bad80a;
    --green: #477a32;
    --darkgreen: #004b1c;
    --lightteal: #00b294;
    --teal: #008272;
    --darkteal: #004b50;
    --lightgray: #e3e3e3;
    --gray: #ccc;
    --darkgray: #333;
    --white: #fff;
    --black: #000;
    --background: #0D1117;
    --foreground: #9ba3b4;
    --hover-background: #bebfc2;
    --foreground-intense: #e6eefA;
    --header-foreground: #c3d0e5;
    --accent-primary: #0078d4;
    --accent-secondary: #0069b9;
    --link-foreground: #4daafc;
    --link-foreground-hover: #8fc3fe;
    --link-underline-background: var(--link-foreground);
    --border-background: rgba(255, 255, 255, 0.12);
    --header-background: var(--background);
    --footer-background: var(--background);
    --button-primary-background: var(--accent-primary);
    --button-primary-foreground: var(--white);
    --button-primary-border: transparent;
    --button-primary-hover: #005ba4;
    --button-secondary-background: #25292E;
    --button-secondary-foreground: var(--header-foreground);
    --button-secondary-border: rgba(255, 255, 255, 0.3);
    --button-secondary-hover: #333940;
    --icon-button-hover-background: rgba(255, 255, 255, 0.10);
    --navbar-border: var(--border-background);
    --search-input-background: transparent;
    --search-input-border: rgba(255, 255, 255, 0.15);
    --search-input-border-active: var(--accent-primary);
    --search-input-foreground: var(--foreground);
    --search-input-placeholder-foreground: #9ba3b4;
    --card-background: rgba(255, 255, 255, 0.04);
    --card-hover-background: rgba(255, 255, 255, 0.08);
    --card-border: rgba(255, 255, 255, 0.12);
    --card-border-active: rgba(255, 255, 255, 0.2);
    --feature-card-icon-background: rgba(255, 255, 255, 0.07);
    --banner-background-color: rgba(0, 32, 80, 0.25);
    --banner-background: linear-gradient(135deg, var(--background) 0%, var(--banner-background-color) 15%, var(--banner-background-color) 75%, var(--background) 100%);
    --banner-link-color: var(--link-foreground);
    --banner-text: var(--foreground);
    --hero-background: linear-gradient(180deg, #0e0e0e 0%, #141414 100%);
    --hero-border-bottom: var(--border-background);
    --hero-background-binary-grid: #797d97;
    --hero-background-binary-grid-opacity: 0.35;
    --home-foreground: #9FB1D1;
    --code-background: rgba(255, 255, 255, 0.15);
    --code-foreground: #ccc;
    --keybinding-background: rgba(255, 255, 255, 0.15);
    --keybinding-foreground: var(--link-foreground);
    --code-copy-foreground: #ccc;
    --code-copy-background: #444;
    --alert-note-border-color: var(--lightblue);
    --alert-warning-border-color: var(--lightyellow);
    --alert-important-border-color: var(--lightpurple);
    --alert-caution-border-color: #FE7543;
    --alert-tip-border-color: var(--lightgreen);
}

/* Template styling */
::selection {
    background-color: rgb(11, 124, 216);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--background);
    color: var(--foreground);
}

/* Navbar styling */
main #main-nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0.8px solid var(--border-background);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s;
    z-index: 300;
    background: var(--background);
}

#main-nav .content {
    max-width: 1300px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 4vw;
    height: 100%;
    padding: 1em 2vw;
}

#main-nav .part-1 {
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
}

#main-nav .part-1>h1 {
    position: relative;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: normal;
    white-space: nowrap;
}

#main-nav .part-1>h1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--header-foreground);
}

#main-nav .part-1 #logo-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
}

#main-nav .part-1>ul {
    list-style: none;
    display: flex;
    column-gap: 1.5vw;
}

#main-nav .part-1>ul a {
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--foreground);
    font-size: 1em;
    white-space: nowrap;
    transition: color 0.2s;
}

#main-nav .part-1>ul a:hover {
    color: var(--header-foreground);
}

#main-nav .part-1>ul li:nth-of-type(4) a,
#main-nav .part-1>ul li:nth-of-type(6) a,
#main-nav .part-1>ul li:last-child a {
    text-transform: uppercase;
}

/* Main Navbar part-2 styles */
#main-nav .part-2 ul {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 2vw;
}

#main-nav .part-2 ul>li:nth-of-type(1) a {
    font-size: 1.5em;
}

#main-nav .part-2 ul>li a:nth-of-type(1) {
    display: none;
}

#main-nav .part-2 ul li form {
    border: 1px solid var(--border-background);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

#main-nav .part-2 ul li form #search-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

#main-nav .part-2 ul li form i {
    color: var(--search-input-border);
}

#main-nav .part-2 ul li form #search-bar {
    background: transparent;
    outline: none;
    border: none;
    padding: 0.5rem 0.2rem;
    color: var(--foreground);
}

#main-nav .part-2 ul li form:has(#search-bar:focus),
#main-nav .part-2 ul li form:has(#search-bar:active) {
    border: 1.5px solid var(--foreground-intense);
}

#main-nav .part-2 ul li .download-btn {
    padding: .5em 1.5em;
    background: var(--accent-primary);
    color: var(--foreground-intense);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1em;
    outline: none;
    border: none;
    cursor: pointer;
}

#main-nav .part-3 {
    display: none;
}

.link {
    margin: 0 0.5rem;
    color: var(--accent-secondary);
}

#notification-bar {
    width: 100%;
    padding: 0.5rem 2rem;
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background, 0.3);
    font-size: 0.9rem;
    font-weight: 500;
    z-index: 3;
}

.NBone {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.NBtwo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background: url('./assets/icons/cross-icon.svg') center/70% no-repeat;
    border-radius: 4px;
}

.NBtwo:hover {
    background-color: var(--hover-background);
}

/* Main Tag styling */
main {
    position: relative;
    width: 100%;
}

/* Page 1 styles */
main #first-page {
    width: 100%;
    height: auto;
    background: url(./assets/hero/bg.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 6rem;
    row-gap: 2rem;
    position: relative;
}

main #first-page::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    background: linear-gradient(to bottom,
            transparent 0%,
            rgba(13, 17, 23, 0.6) 40%,
            rgba(13, 17, 23, 0.7) 80%,
            #0d1117 100%);
    z-index: 0;
}

#first-page h1 {
    font-size: 4rem;
    width: 550px;
    text-align: center;
    color: var(--foreground-intense);
}

#first-page .fp-info {
    width: 320px;
    position: relative;
    z-index: 2;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-page .fp-info::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--code-copy-background);
    opacity: 0.6;
    z-index: 0;
    border-radius: 1rem;
}

#first-page .fp-info button {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.6rem;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    background: var(--white);
    border: 0.2rem solid transparent;
    outline: 0.2rem solid transparent;
    outline-offset: 0;
    box-shadow: none;
    transition: border-color 0.3s, outline-color 0.5s, outline-offset 0.3s cubic-bezier(.4, 2, .6, 1);
    align-self: flex-start;
}

#first-page .fp-info button .windows-icon {
    width: 20px;
    height: 20px;
    background: url('./assets/icons/windows.png') center/cover no-repeat;
}

#first-page .fp-info button:hover {
    border: 0.2rem solid #333;
    outline: 0.1rem solid #fff;
}

#first-page .fp-info p {
    margin-top: 1rem;
}

#first-page .fp-info p:nth-of-type(1),
#first-page .fp-info p:nth-of-type(2) {
    position: relative;
    z-index: 2;
    font-size: 0.8rem;
}

#first-page .fp-info p:nth-of-type(2) {
    font-size: 0.6rem;
}

#first-page .fp-info p span {
    text-decoration: underline;
    color: var(--foreground-intense);
}

#first-page .video-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: 2rem;
}

#first-page .video-section video,
#first-page .video-section #video-screenshot {
    width: 1080px;
    height: 800px;
}

#first-page .video-section #video-screenshot {
    background: url('https://code.visualstudio.com/assets/home/hero-poster-dark.webp') center/cover;
}

#first-page .video-section button {
    position: relative;
    z-index: 2;
    margin: 2rem 0;
    padding: 0.5rem 1.2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: outline 0.2s;
    background: transparent;
    color: var(--foreground);
    border-radius: 0.2rem;
}

#first-page .video-section button:hover {
    outline: 2px solid #fff;
}

/* Second page styling */
#second-page {
    width: 100%;
    height: 300px;
}

/* Third page styling */
#third-page {
    width: 100%;
    height: auto;
}

#third-page .content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 1rem;
}

#third-page .content .tp-uppersection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 1rem;
}

#third-page .content .tp-uppersection div {
    border: 0.8px solid var(--card-border);
    border-radius: 1rem;
    background: var(--card-background);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#third-page .content div div h3 {
    font-weight: 500;
    color: var(--header-foreground);
    font-size: 1.2rem;
    flex-grow: 1;
}

#third-page .content div div p {
    line-height: 1.5;
    font-weight: 600;
    color: var(--home-foreground);
    flex-grow: 1;
}

#third-page .content div div div {
    flex-grow: 2;
    width: 100%;
    height: 60%;
    background: transparent;
    border: none;
}

#third-page .content div div div img {
    width: 90%;
    height: 100%;
}

#third-page .content div div:nth-of-type(2) div img {
    width: 100%;
}

.tp-lowersection {
  width: 100%;
}
#third-page .content .tp-lowersection .content {
    width: 100%;
    background: url('./assets/banner/copilot-free-banner-bg-dark.webp');
    background-size: cover;
    color: var(--foreground-intense);
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--card-border);
}

#third-page .content .tp-lowersection h3 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--foreground-intense);
    width: 200px;
}

#third-page .content .tp-lowersection p {
    line-height: 1.8;
    color: var(--foreground-intense);
    font-weight: 400;
}

#third-page .content .tp-lowersection button {
    padding: 0.5rem;
    color: var(--button-secondary-foreground);
    background: var(--button-secondary-background);
    border: 1px solid var(--button-secondary-border);
    width: 80px;
    border-radius: 0.2rem;
}

/* Fourth page styling */
#fourth-page,
#fifth-page,
#sixth-page {
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

#fourth-page .content,
#fifth-page .content,
#sixth-page .content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 1rem;
}

#fourth-page .content img,
#sixth-page .content img {
    width: 100%;
    margin-top: 0.8rem;
}

#fourth-page .content h2,
#fifth-page .content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--header-foreground);
    margin: 1rem 0;
}

#fifth-page .content h2 {
    font-size: 1.7rem;
}

#fourth-page .content p,
#fifth-page .content p,
.content p {
    line-height: 1.5;
    text-align: start;
    font-weight: 500;
    color: var(--home-foreground);
}

#fourth-page .content a,
#fifth-page .content a {
    display: inline-block;
    margin-top: 1rem;
    color: var(--link-foreground);
    font-size: 1rem;
    font-weight: 500;
}

/* Fifth page icons grid */
#fifth-page .icons .boxarea {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    position: relative;
}

#fifth-page .icons .boxarea a {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--card-border);
    background: var(--card-background);
    border-radius: 0.5rem;
    transition: border-color 0.2s;
}

#fifth-page .icons .boxarea a:hover {
    border-color: var(--card-border-active);
}

#fifth-page .icons .boxarea a img {
    width: 40px;
    height: 40px;
    border-radius: 0.4rem;
}

#fifth-page .icons .boxarea .icon-desc {
    display: none;
}

#fifth-page .icons .boxarea::after {
    content: "";
    width: 100%;
    height: 13rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom,
            transparent 0%,
            rgba(13, 17, 23, 0.534) 30%,
            rgba(13, 17, 23, 0.568) 50%,
            rgb(15, 20, 27) 100%);
    pointer-events: none;
}

#fifth-page .icons .boxarea-desc {
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

#fifth-page .content .two div:nth-of-type(2)  {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Fifth page part two */
#fifth-page .languagePanel {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 2rem;
    column-gap: 0.4rem;
    row-gap: 0.8rem;
}

#fifth-page .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#fifth-page .flex img {
    width: 40px;
}

#fifth-page .flex code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Sixth page styling */
#sixth-page .content h2+p {
    margin-bottom: 2rem;
}

#sixth-page .content p {
    margin-bottom: 1rem;
}

/* Seventh page styling */
#seventh-page {
    margin-top: 2rem;
}

#seventh-page .content {
    gap: 0;
}

#seventh-page h2+p {
    margin-top: 0.4rem;
}

#seventh-page .block-parent {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
}

#seventh-page a {
    padding: 1rem;
    background: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--header-foreground);
}

#seventh-page h3 {
    font-size: 1rem;
    color: var(--header-foreground);
    margin: 1.5rem 0 1rem 0;
}

#seventh-page a p {
    font-size: 0.9rem;
    font-weight: 600;
}

#seventh-page a img {
    padding: 12px;
    width: 55px;
    border-radius: 0.4rem;
    background: var(--card-background);
}

/* Footer styling */
footer {
    max-width: 1300px;
    width: 100%;
    position: relative;
    margin: 2rem 0;
    padding-bottom: 2rem;
    width: 100%;
}

footer .container img {
    width: 24px;
    cursor: pointer;
}

footer .container img:nth-of-type(1) {
    width: 20px;
}

footer .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 1rem;
}

footer .one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .one div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

footer .two {
    display: flex;
    column-gap: 1.5rem;
}

footer .two a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--home-foreground);
}

/* Media queries */
/* Mobile Design */
@media (max-width: 767px) {
    main #main-nav {
        height: 491px;
        z-index: 999;
    }

    main #main-nav .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
    }

    main #main-nav .content .part-1 {
        flex-grow: 3;
        width: 100%;
        align-items: flex-start;
    }

    main #main-nav .content .part-1 h1 {
        margin-bottom: 1rem;
    }

    main #main-nav .content .part-1 ul {
        height: 100%;
        justify-content: space-around;
        margin-left: 1rem;
    }

    main #main-nav .content .part-1 ul a {
        font-size: 0.9rem;
        font-weight: 600;
    }

    main #main-nav .content .part-1,
    ul {
        flex-direction: column;
    }

    main #main-nav .content .part-2 {
        margin-left: 1rem;
    }

    main #main-nav .content .part-2 ul {
        flex-direction: row;
        column-gap: 0.5rem;
        align-items: center;
    }

    main #main-nav .content .part-2 ul li:nth-of-type(1) a img {
        width: 20px;
        height: 20px;
    }

    main #main-nav .content .part-2 ul li:nth-of-type(2) input {
        display: none;
    }

    main #main-nav .content .part-2 ul li:nth-of-type(2) #search-btn {
        margin: 0.2rem;
    }

    main #main-nav .content .part-3 {
        display: block;
        position: absolute;
        top: 13px;
        right: 6%;
    }

    main #main-nav .content .part-3 img {
        width: 24px;
        height: 24px;
    }

    #notification-bar .NBone {
        font-size: 0.9em;
        font-weight: 600;
        line-height: 1.4;
    }

    #notification-bar .NBone a {
        white-space: nowrap;
    }

    #first-page .fp-heading {
        font-size: 2rem;
        width: 300px;
    }

    #first-page .video-section {
        width: 60vw;
        height: 55vh;
        top: 50%;
    }

    #first-page .video-section #demo-video,
    #first-page .video-section #video-screenshot {
        width: 100%;
        height: 100%;
    }

    main #first-page::after {
        bottom: 0;
    }

    #third-page .content .tp-uppersection {
        width: 100%;
        flex-direction: column;
    }

    #third-page .content .tp-uppersection div {
        align-items: flex-start;
    }

    #third-page .content .tp-uppersection div .img {
        background: transparent;
        border: none;
    }

}

/* Tablet Design */
@media (min-width: 768px){
    main #main-nav {
        height: 491px;
        z-index: 999;
    }

    main #main-nav .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
    }

    main #main-nav .content .part-1 {
        flex-grow: 3;
        width: 100%;
        align-items: flex-start;
    }

    main #main-nav .content .part-1 h1 {
        margin-bottom: 1rem;
    }

    main #main-nav .content .part-1 ul {
        height: 100%;
        justify-content: space-around;
        margin-left: 1rem;
    }

    main #main-nav .content .part-1 ul a {
        font-size: 0.9rem;
        font-weight: 600;
    }

    main #main-nav .content .part-1,
    ul {
        flex-direction: column;
    }

    main #main-nav .content .part-2 {
        margin-left: 1rem;
    }

    main #main-nav .content .part-2 ul {
        flex-direction: row;
        column-gap: 0.5rem;
        align-items: center;
    }

    main #main-nav .content .part-2 ul li:nth-of-type(1) a img {
        width: 20px;
        height: 20px;
    }

    main #main-nav .content .part-2 ul li:nth-of-type(2) input {
        display: none;
    }

    main #main-nav .content .part-2 ul li:nth-of-type(2) #search-btn {
        margin: 0.2rem;
    }

    main #main-nav .content .part-3 {
        display: block;
        position: absolute;
        top: 13px;
        right: 6%;
    }

    main #main-nav .content .part-3 img {
        width: 24px;
        height: 24px;
    }

    #first-page .video-section {
        width: 80vw;
        height: auto;
    }

    #first-page .video-section #demo-video,
    #first-page .video-section #video-screenshot {
        width: 100%;
        height: 100%;
    }

    #first-page .video-section button {
        bottom: -25%;
    }

    #second-page {
        height: 320px;
    }

    #third-page .tp-uppersection div {
        padding: 1rem 0;
    }

    #third-page .tp-uppersection div .img {
        height: 20%;
    }

    #third-page .content .tp-uppersection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #third-page .tp-lowersection {
        width: 100%;
    }

    #third-page .tp-lowersection .content {
        width: 100%;
        flex-direction: row;
        padding: 2rem 1rem;
        justify-content: space-between;
        gap: 2rem;
    }

    #third-page .content .tp-lowersection h3 {
        width: 50%;
    }

    #third-page .content .tp-lowersection .content div {
        width: 50%;
    }

    #fourth-page .content {
        width: 100%;
    }

    #fourth-page .content .one,
    #fourth-page .content .two {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        width: 100%;
    }

    #fourth-page .content .one div,
    #fourth-page .content .two div {
        width: 50%;
    }

    #fourth-page .content .one img,
    #fourth-page .content .two img {
        width: 50%;
    }

    #fifth-page .content {
        width: 100%;
    }

    #fifth-page .content .one,
    #fifth-page .content .two {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;
    }
    #sixth-page .content .one,
    #sixth-page .content .two {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
    #fifth-page .content .one div:nth-of-type(1),
    #fifth-page .content .two div:nth-of-type(1) {
        padding-right: 2rem;
    }

    #sixth-page .content .one div,
    #sixth-page .content .two div {
        width: 100%;
    } 


    
    #sixth-page .content .one .img,
    #sixth-page .content .two .img {
        display: flex;
        align-items: center;
    } 


    #seventh-page .content {
      align-items: center;
    }

    #seventh-page .content>p {
      width: 500px;
      text-align: center;
    }


    #seventh-page .content .block-parent {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }

    footer .content {
      margin: 1rem;
    }

}

/* Laptop Design */
@media (min-width: 1024px) {
  main #main-nav {
    height: 75px;
    z-index: 999;
}

main #main-nav .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
}

main #main-nav .content .part-1 {
    width: 100%;
    align-items: center;
}

main #main-nav .content .part-1 h1 {
    margin-bottom: 0;
}

main #main-nav .content .part-1 ul {
    height: 100%;
    align-items: center;
    margin-left: 1rem;
}

main #main-nav .content .part-1 ul a {
    font-size: 0.9rem;
    font-weight: 600;
}

main #main-nav .content .part-1,
ul {
    flex-direction: row;
}

main #main-nav .content .part-2 {
    margin-left: 1rem;
}

main #main-nav .content .part-2 ul {
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}

main #main-nav .content .part-2 ul li:nth-of-type(1) a img {
    width: 20px;
    height: 20px;
}

main #main-nav .content .part-2 ul li:nth-of-type(2) input {
    display: none;
}

main #main-nav .content .part-2 ul li:nth-of-type(2) #search-btn {
    margin: 0.2rem;
}

main #main-nav .content .part-3 {
    display: none;
}

}


@media (max-width: 1260px) {
  main #main-nav .content .part-2 ul li:nth-of-type(2) form input {
    display: block;
   }

   .icons .boxarea a .icon-desc {
    display: block;
   }
}